body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}

.signup-container {
  display: flex;
  background-color: #e0f7fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  height: 370px;
  width: 700px
}

.signup-container .welcome-section {
  background-color: #006440;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.signup-container .welcome-section img {
  width: 240px;
  margin-top: 30px;
}

.signup-container .form-section {
  padding: 40px;
  background-color: #ffe082;
  position: relative;
  width: 300px;
}

.form-section {
	display: flex;
	flex-direction: column;
	justify-content: center;

  form {
    display: flex;
    flex-direction: column;
  }
}

.form-section input[type="text"],
.form-section input[type="password"] {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.form-section input[type="submit"] {
  background-color: #00796b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-section input[type="submit"]:hover {
  background-color: #006440;
}

.form-section .create-account {
  bottom: 20px;
  left: 40px;
}

.form-section .create-account a {
  color: #006440;
  text-decoration: none;
}

.form-section .create-account a:hover {
  text-decoration: underline;
}